<div class="form">
  <img src="/assets/icons/icon-128x128.png" alt="icon" id="icon" />
  <form class="login-form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        [(ngModel)]="loginParams.email"
        [ngModelOptions]="{ standalone: true }"
      />
      <mat-icon matSuffix>face</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="loginParams.password"
        [ngModelOptions]="{ standalone: true }"
      />
      <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>
  </form>
  <p></p>
  <button mat-raised-button color="primary" (click)="login()">Login</button>
</div>
