
.mainPanel {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 75%;
    height: 70%;
    margin: 40px auto 0px;
    padding: 45px;
    padding-top: 60px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 15px;
  }