.table-container{
    height: auto;
    max-height: 80vh;
    width: 100%;
    overflow: auto;
    text-align: left;
}

.table{
    overflow: auto;
    width: 100%;
}

.input{
    min-width: 100px;
    max-width: 80%;
}

.inputEmail{
    min-width: 200px;
    max-width: 80%;
}

.delete-button{
    background-color: tomato;
}

.delete-icon{
    color: ghostwhite;
}