.grid {
  width: 100%;
  display: inline-block;
  }
  
  .card {
    display: inline-block;
    padding: 20px 10px;
    width: 30%;
    min-width: 200px;
    max-width: 30%;
    height: 100%;

    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-left: 20px;
    margin-top: 10px;

    color: rgba(0, 0, 0, 0.87);
    background-color: #3c8bd9;
    box-sizing: border-box;
    box-shadow:  0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
  }
  
 