.grid {
  width: 100%;
  }
  
  .card {
    display: inline-block;
    width: 30%;
    min-width: 200px;
    
    height: auto;
    vertical-align: top;
    padding: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;

    vertical-align:top;
    overflow: hidden;

    color: rgba(0, 0, 0, 0.87);
    background-color: #3c8bd9;
    box-sizing: border-box;
    box-shadow:  0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
  }

  .mainBtn{
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .secondBtn{
    display: inline-block;
    position: relative;
    max-width: 55%;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 1px;
    font-size: small;
    top: -20px;
  }

  .title{
    color: ghostwhite;
    font-size: medium;
  }

  .icon{
    color: ghostwhite;
  }
  
  @media only screen and (max-width: 800px) {
    .card {
      margin-left: 0px;
      min-width: 300px;
      margin-bottom: 0;
    }
  }