.grid {
  width: 100%;
  }
  
  .card {
    display: inline-block;
    width: 30%;
    min-width: 200px;
    max-width: 30%;
    height: auto;
    vertical-align: top;
    padding: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-left: 20px;
    margin-top: 10px;

    color: rgba(0, 0, 0, 0.87);
    background-color: #3c8bd9;
    box-sizing: border-box;
    box-shadow:  0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
  }

  .mainBtn{
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .secondBtn{
    max-width: 55%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5%;
    font-size: small;
  }

  .title{
    color: ghostwhite;
    font-size: medium;
  }

  .icon{
    color: ghostwhite;
  }
  
 